.test/linter_info.txt
.test/format.txt
.test/pipeline.txt
.test/reference
.test/.snakemake
.test/logs
.test/resources
.test/benchmark
.test/black.txt
.test/report.txt
.snakemake
reference
tmp
logs
benchmark
report.zip
report