.test/linter_info.txt
.test/format.txt
.test/pipeline.txt
.test/reference
.test/.snakemake
.test/logs
.test/resources*
.test/benchmark.tsv
.test/black.txt
.test/report.txt
.test/docs_update.txt
.test/wrappers_update.txt
.test/conda_update.txt
.test/update_docs.txt
.test/.*
.snakemake
sandbox/
diagrams_conda/
reference
tmp
logs
benchmark
report.zip
report
